#nav {
      width: 100%;
      float: left;
      margin: 0 0 3em 0;
      padding: 0;
      list-style: none;
      background-color: #C1C1C1;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc; }
      #nav li {
      float: left; }
      #nav li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #2C4251;
      border-right: 1px solid #ccc; }
      #nav li a:hover {
      color: #c00;
      background-color: #fff; } 
body  {
  background-image: url("AMG.jpg");
  background-color: #cccccc;
}
canvas {
			border:1px solid #d3d3d3;
			background-color: #f1f1f1;
			position: fixed; 
    left: 35%; bottom: 30%;
		}

#script{
		position: fixed; 
    left: 45%; bottom: 20%;
	}


#page{


	
	margin: 0 auto;
}
h1{
	font-size: 350%;
	text-align: center;
	color: #324A5F;
}
.text{
	font-size: 350%;
	text-align: center;
	color: #324A5F;
}
#buton{
	font-size: 150%;
	
	color: grey;
}
