

body  {
  background-image: url("AMG.jpg");
  background-color: #cccccc;
}




	background-color: grey;

}
#page{


	
	margin: 0 auto;

}
h1{
	font-size: 350%;
	text-align: center;
	color: coral;
}
.login{
 	 border: 3px solid green;
	text-align: center;
}
.alert{
	font-size: 200%;

}
.text{
	font-size: 250%;
	text-align: center;
	color: #0066ff;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}