body{

	background-color: grey;

}
#page{


	width: 960px;
	margin: 0 auto;

}
.start{
	font-size: 350%;
	text-align: center;

	color: coral;
}
.login{
 	 border: 3px solid green;
	text-align: center;
}